/* =========================
   RESET
========================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #080808;
    color: #f5f5f5;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: inherit;
}


/* =========================
   NAVBAR
========================= */

header {
    width: 100%;
    padding: 25px 7%;
    border-bottom: 1px solid #1c1c1c;
}

nav {
    max-width: 1200px;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -0.5px;
}

.nav-links {
    display: flex;
    gap: 32px;
}

.nav-links a {
    color: #999;
    font-size: 14px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #fff;
}


/* =========================
   HERO
========================= */

.hero {
    min-height: 88vh;
    max-width: 1200px;
    margin: auto;
    padding: 80px 7%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-small {
    color: #888;
    font-size: 12px;
    letter-spacing: 4px;
    margin-bottom: 22px;
}

.hero h1 {
    max-width: 900px;
    font-size: clamp(48px, 7vw, 90px);
    line-height: 1;
    letter-spacing: -4px;
    margin-bottom: 30px;
}

.hero h1 span {
    display: block;
    color: #8b8bff;
}

.hero-text {
    max-width: 650px;
    color: #999;
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 35px;
}


/* =========================
   BUTTONS
========================= */

.hero-buttons {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.btn {
    display: inline-block;
    padding: 14px 24px;

    background: #fff;
    color: #000;

    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;

    transition: 0.3s;
}

.btn:hover {
    transform: translateY(-3px);
}

.secondary-btn {
    background: transparent;
    color: #fff;
    border: 1px solid #333;
}

.secondary-btn:hover {
    border-color: #777;
}


/* =========================
   MOBILE
========================= */

@media (max-width: 700px) {

    header {
        padding: 20px 5%;
    }

    nav {
        align-items: flex-start;
        gap: 20px;
    }

    .nav-links {
        gap: 14px;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    .nav-links a {
        font-size: 12px;
    }

    .hero {
        min-height: 85vh;
        padding: 60px 5%;
    }

    .hero-small {
        font-size: 10px;
        letter-spacing: 3px;
    }

    .hero h1 {
        font-size: clamp(42px, 13vw, 65px);
        letter-spacing: -2px;
    }

    .hero-text {
        font-size: 16px;
    }

    .hero-buttons {
        flex-direction: column;
        align-items: flex-start;
    }

    .btn {
        width: 100%;
        text-align: center;
    }
}
